*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#111;
    color:#fff;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    background:#000;
    padding:20px 0;
    border-bottom:3px solid #d60000;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

header h1{
    color:#d60000;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#d60000;
}

.hero{
    padding:100px 20px;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("../images/hero.jpg");
    background-size:cover;
    background-position:center;
}

.hero h2{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#d60000;
    color:white;
    padding:15px 35px;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.btn:hover{
    background:#ff1e1e;
}

section{
    padding:70px 20px;
}

.despre{
    text-align:center;
}

footer{
    background:#000;
    padding:30px;
    text-align:center;
    border-top:3px solid #d60000;
}
