*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#111;
    color:#fff;
    line-height:1.6;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    position:sticky;
    top:0;
    z-index:999;
    background:#000;
    border-bottom:3px solid #ff3b00;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
    flex-wrap:wrap;
}

header h1{
    color:#ff3b00;
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:600;
    transition:.3s;
}

nav a:hover{
    color:#ff3b00;
}

.hero{
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65));
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#ddd;
}

.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#ff3b00;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#ff5a2a;
    transform:scale(1.05);
}

section{
    padding:80px 20px;
}

h2{
    color:#ff3b00;
    margin-bottom:20px;
}

.card{
    background:#1d1d1d;
    padding:25px;
    border-radius:12px;
    margin-bottom:25px;
    box-shadow:0 0 20px rgba(255,59,0,.15);
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    border-radius:12px;
    transition:.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

footer{
    background:#000;
    text-align:center;
    padding:30px;
    border-top:3px solid #ff3b00;
    color:#bbb;
}

@media(max-width:768px){

header .container{
flex-direction:column;
}

nav{
margin-top:15px;
}

nav a{
display:block;
margin:10px 0;
}

.hero h2{
font-size:34px;
}

.hero p{
font-size:18px;
}

}
